:root {
  --font-family: "Comfortaa";
  --second-family: "PublicSans";
  --content-width: 1152px;
  --container-offset: 15px;
  --container-width: calc(
      var(--content-width) + (var(--container-offset) * 2)
  );
  --offset: 32px;
  --main-size: 13px;
  --second-size: 15px;
  --light-color: #fff;
  --main-color: rgb(80, 81, 249);
  --hover-color: rgb(106, 106, 251);
  --active-color: rgb(255, 92, 132);
  --error: rgb(196, 19, 63);
}

.icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: rgb(255, 255, 255);
  stroke: #6a6afb;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 45px;
  border-radius: 14px;
  border: none;
}

.app {
  margin: 0 auto;
  display: flex;
  max-width: 1012px;
}
.app .panel {
  padding: 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 133px;
  background-color: #fbfaff;
}
.app .logo {
  width: 59px;
  height: 72px;
  margin-bottom: 47px;
}
.app .content {
  padding: 45px;
  width: 100%;
  background-color: #f3f6fd;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;
}
.menu__item {
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.menu__item:hover {
  background-color: #6a6afb;
}
.menu__item:hover img {
  filter: brightness(0) invert(1);
}
.menu__item_active {
  background-color: #5051f9;
}
.menu__item_active img {
  filter: brightness(0) invert(1);
}
.menu__add {
  cursor: pointer;
  border: 1px solid rgb(202, 213, 255);
  transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out, filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.menu__add:hover {
  background-color: #6a6afb;
}
.menu__add:active {
  background-color: var(--active-color);
}

.header {
  margin-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: rgb(0, 0, 0);
  font-family: Var(--font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 33px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}
.progress__text {
  display: flex;
  justify-content: space-between;
}
.progress__name {
  color: rgb(35, 35, 96);
  font-family: Var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.progress__percent {
  color: rgb(118, 131, 150);
  font-family: Var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
}
.progress__bar {
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background: rgb(230, 233, 237);
  position: relative;
}
.progress__cover-bar {
  position: absolute;
  height: 5px;
  border-radius: 4px;
  background: rgb(80, 81, 249);
  transition: width 0.5s ease-in-out;
}

.habbit {
  margin-bottom: 12px;
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
.habbit .icon {
  width: 24px;
  height: 24px;
  stroke: #94a3bd;
}
.habbit__day {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 130px;
  max-width: 130px;
  padding: 15px 0;
  padding-left: 18px;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid rgb(231, 235, 251);
  color: rgb(0, 0, 0);
  font-family: Var(--font-family);
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(251, 250, 255);
}
.habbit__flex-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.habbit__comment {
  padding: 15px 0 15px 24px;
  margin-right: 24px;
  color: rgb(35, 35, 95);
  font-family: Var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.habbit__delete {
  margin-left: auto;
  margin-right: 15px;
  background: none;
  border: none;
}
.habbit__delete:hover svg {
  transition: stroke 0.3s ease-in-out;
  stroke: rgb(80, 81, 249);
}
.habbit__delete:active svg {
  transition: stroke 0.3s ease-in-out;
  stroke: var(--active-color);
}

.habbit-form {
  display: flex;
  padding: 6px 0;
  gap: 15px;
  width: 100%;
  padding-left: 23px;
  margin-right: 10px;
  color: rgb(35, 35, 95);
  font-family: Var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
}
.habbit-form__input {
  padding: 9px 20px 9px 48px;
  flex: 1;
  box-sizing: border-box;
  border: 1px solid rgb(231, 235, 251);
  border-radius: 9px;
  background: rgb(255, 255, 255);
  color: rgb(35, 35, 95);
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  transition: border 0.3s ease-in-out;
}
.habbit-form__input-error {
  border: 1px solid red;
}
.habbit-form__input::-moz-placeholder {
  color: rgb(136, 153, 168);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.habbit-form__input::placeholder {
  color: rgb(136, 153, 168);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
.habbit-form__input:focus {
  border: 1px solid var(--hover-color);
}
.habbit-form__input:hover {
  border: 1px solid var(--hover-color);
}
.habbit-form__img {
  position: absolute;
  content: "";
  left: 43px;
  top: 16px;
}
.habbit-form__btn {
  padding: 0 33px;
  border-radius: 9px;
  border: none;
  background: rgb(237, 236, 254);
  color: rgb(80, 81, 249);
  font-family: Comfortaa;
  font-size: 13px;
  font-weight: 500;
  line-height: 39px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.habbit-form__btn:hover {
  background-color: var(--hover-color);
  color: var(--light-color);
}
.habbit-form__btn:active {
  background-color: var(--active-color);
  color: var(--light-color);
}

.error {
  border: 1px solid red;
}

.cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover_hiden {
  display: none;
}

.popup {
  position: relative;
  min-width: 424px;
  padding: 22px 22px 42px 22px;
  border-radius: 10px;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
  background: rgb(255, 255, 255);
}
.popup__title {
  text-align: center;
  margin-bottom: 13px;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}
.popup__subtitle {
  text-align: center;
  margin-bottom: 6px;
  color: rgb(118, 131, 150);
  font-family: Comfortaa;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.popup__list {
  margin-bottom: 18px;
  justify-content: center;
  display: flex;
  gap: 25px;
}
.popup__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.popup__icon {
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.popup__icon:hover {
  background-color: #6a6afb;
}
.popup__icon:hover img {
  filter: brightness(0) invert(1);
}
.popup__icon_active {
  background-color: #5051f9;
}
.popup__icon_active img {
  filter: brightness(0) invert(1);
}
.popup__submit {
  display: block;
  margin: 0 auto;
  padding: 0 33px;
  border-radius: 9px;
  border: none;
  background: rgb(237, 236, 254);
  color: rgb(80, 81, 249);
  font-family: Comfortaa;
  font-size: 13px;
  font-weight: 500;
  line-height: 39px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.popup__submit:hover {
  background-color: var(--hover-color);
  color: var(--light-color);
}
.popup__submit:active {
  background-color: var(--active-color);
  color: var(--light-color);
}
.popup__close {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  border: none;
  background-color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup .habbit-form__input {
  width: 100%;
  padding: 9px 20px 9px 20px;
  gap: 6px;
  margin-bottom: 6px;
}
.popup .habbit-form__input:last-child {
  margin-bottom: 18px;
}/*# sourceMappingURL=main.css.map */