:root {
    --font-family: "Comfortaa";
    --second-family: "PublicSans";
    --content-width: 1152px;
    --container-offset: 15px;
    --container-width: calc(
        var(--content-width) + (var(--container-offset) * 2)
    );

    --offset: 32px;

    //sizes
    --main-size: 13px;
    --second-size: 15px;
    // colors

    --light-color: #fff;
    --main-color: rgb(80, 81, 249);
    --hover-color: rgb(106, 106, 251);
    --active-color: rgb(255, 92, 132);
}

%state {
    transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
        filter 0.3s ease-in-out, background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #6a6afb;
    }
    &:hover img {
        filter: brightness(0) invert(1);
    }
    &:hover svg {
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
            filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        stroke: rgb(255, 255, 255);
        fill: #6a6afb;
    }
    &:active {
        background-color: var(--active-color);
    }
    &:active svg {
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
            filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        stroke: rgb(255, 255, 255);
        fill: var(--active-color);
    }
}
%state-active {
    &:focus {
        outline: none;
    }
    cursor: default;
    background-color: var(--main-color);

    & img {
        filter: brightness(0) invert(1);
    }
    & svg {
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
            filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        stroke: rgb(255, 255, 255);
        // fill: #6a6afb;
        fill: var(--main-color);
    }
    &:hover {
        background-color: rgb(80, 81, 249);
    }
    &:hover svg {
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
            filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        background-color: rgb(80, 81, 249);
        fill: var(--main-color);
        stroke: var(--hover-color);
    }
    &:active svg {
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
            filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        background-color: var(--main-color);
        stroke: rgb(255, 255, 255);
        fill: var(--main-color);
    }
}
body {
    background-color: #877cb4;
}
.icon {
    display: block;
    width: 25px;
    height: 25px;
    fill: rgb(255, 255, 255);
    stroke: #6a6afb;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 45px;
    border-radius: 14px;
    border: none;
}
.app {
    margin: 0 auto;
    display: flex;
    max-width: 1012px;

    .panel {
        padding: 30px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        min-width: 133px;
        background-color: #fbfaff;
    }
    .logo {
        width: 59px;
        height: 72px;
        margin-bottom: 47px;
    }
    .content {
        padding: 45px;
        width: 100%;
        background-color: #f3f6fd;
    }
}

.menu {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 25px;
    }
    &__item {
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
            filter 0.3s ease-in-out, background-color 0.3s ease-in-out;

        @extend %state;
        // &:hover {
        //     background-color: #6a6afb;
        // }
        // &:hover img {
        //     filter: brightness(0) invert(1);
        // }
        // &:hover svg {
        //     transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
        //         filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        //     stroke: rgb(255, 255, 255);
        //     fill: #6a6afb;
        // }
        // &:active {
        //     background-color: var(--active-color);
        // }
        // &:active svg {
        //     transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
        //         filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        //     background-color: var(--active-color);
        //     stroke: rgb(255, 255, 255);
        //     fill: var(--active-color);
        // }

        &_active {
            cursor: default;
            background-color: var(--main-color);

            & img {
                filter: brightness(0) invert(1);
            }
            & svg {
                transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
                    filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
                stroke: rgb(255, 255, 255);
                // fill: #6a6afb;
                fill: var(--main-color);
            }
            &:hover {
                background-color: rgb(80, 81, 249);
            }
            &:hover svg {
                transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
                    filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
                background-color: rgb(80, 81, 249);
                fill: var(--main-color);
                stroke: var(--hover-color);
            }
            &:active svg {
                transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
                    filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
                background-color: var(--main-color);
                stroke: rgb(255, 255, 255);
                fill: var(--main-color);
            }
        }
    }

    &__add {
        cursor: pointer;
        border: 1px solid rgb(202, 213, 255);
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out,
            filter 0.3s ease-in-out, background-color 0.3s ease-in-out;
        &:hover {
            background-color: #6a6afb;
        }
        &:active {
            background-color: var(--active-color);
        }
    }
}

.header {
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        color: rgb(0, 0, 0);
        font-family: Var(--font-family);
        font-size: 30px;
        font-weight: 400;
        line-height: 33px;
    }
}
.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;

    &__text {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        color: rgb(35, 35, 96);
        font-family: Var(--font-family);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
    &__percent {
        color: rgb(118, 131, 150);
        font-family: Var(--font-family);
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
    }
    &__bar {
        // width: 235px;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background: rgb(230, 233, 237);
        position: relative;
    }
    &__cover-bar {
        position: absolute;
        // todo Заменить на style
        width: 80%;
        height: 5px;
        border-radius: 4px;
        background: rgb(80, 81, 249);
    }
}

.habbit {
    margin-bottom: 12px;
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    background: rgb(255, 255, 255);

    & .icon {
        width: 24px;
        height: 24px;
        stroke: #94a3bd;
    }

    &__day {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        min-width: 130px;
        max-width: 130px;

        padding: 15px 0;
        padding-left: 18px;
        border-radius: 10px 0 0 10px;
        border-right: 1px solid rgb(231, 235, 251);

        color: rgb(0, 0, 0);
        font-family: Var(--font-family);
        font-size: 14px;
        font-weight: 500;
        background-color: rgb(251, 250, 255);
    }
    &__flex-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__comment {
        padding: 15px 0 15px 24px;
        margin-right: 24px;
        color: rgb(35, 35, 95);
        font-family: Var(--font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
    }
    &__delete {
        margin-left: auto;
        margin-right: 15px;
        background: none;
        border: none;

        &:hover svg {
            transition: stroke 0.3s ease-in-out;
            stroke: rgb(80, 81, 249);
        }
        &:active svg {
            transition: stroke 0.3s ease-in-out;
            stroke: var(--active-color);
        }
    }
}
.habbit-form {
    display: flex;
    padding: 6px 0;
    gap: 15px;
    width: 100%;
    padding-left: 23px;
    margin-right: 10px;
    color: rgb(35, 35, 95);
    font-family: Var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    position: relative;

    &__input {
        padding: 9px 20px 9px 48px;
        flex: 1;
        box-sizing: border-box;
        border: 1px solid rgb(231, 235, 251);
        border-radius: 9px;

        background: rgb(255, 255, 255);
        color: rgb(35, 35, 95);
        font-family: Comfortaa;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;

        &::placeholder {
            color: rgb(136, 153, 168);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }
    &__img {
        position: absolute;
        content: "";
        left: 43px;
        top: 16px;
    }

    &__btn {
        // margin-right: 5px;
        padding: 0 33px;
        border-radius: 9px;
        border: none;
        background: rgb(237, 236, 254);
        color: rgb(80, 81, 249);
        font-family: Comfortaa;
        font-size: 13px;
        font-weight: 500;
        line-height: 39px;
        @extend %state;
        &:hover {
            color: var(--light-color);
        }
    }
}
